*, *:before, *:after {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.sort{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 5px;
}
.sort a{
  background-color: orange;
  border-radius: 30px;
  padding: 0 10px;
  font-size: 32px;
}
.search{
  margin: 5px 5px;
}
.searchBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.searchinput{
  width: 100%;
  font-size: 32px;
  text-decoration: none;
}
.searchbutton{
  background-color: rgba(0,0,0,0);
  padding: 10px;
  border: 0px;
}

.headerBlock{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1565C0;
  height: 10vh;
}
.title{
  margin-left: 20px;
  font-size: 32px;
  font-weight: bold;
}

.mainBlock{
}

.note{
  background-color: #E3F2FD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px 5px;
  height: calc(60px + 10px);
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
}
.Nmessage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: calc(60px + 10px);
}
.Ntitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 32px;
}
.Ntext{
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date{
  font-size: 12px;
  margin: 20px 0;
  color: grey;
}

.addBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  /* font-weight: bold; */
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 100%;
  background-color: orange;
  width: 80px;
  height: 80px;
}

/* addNote */

textarea{
  margin: 0 20px;
  margin-top: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 14vh);
  font-size: 16px;
}
input{
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  width: 100%;
  text-decoration: underline;
}

.saveBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 100px;
  padding: 0 20px;
  background-color: orange;
  height: 48px;
}

/* menu */
.menu{
  position: fixed;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  font-size: 28px;
  text-align: center;
  margin: 5px 5px;
  background-color: white;
}
.menuBG{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}
.menuBlock{
  margin: 5px 5px;
}
.themePic{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
#light{
  border: 2px solid;
  border-radius: 10px;
  background-color: white;
  margin: 0px 5px;
}
#dark{
  border: 2px solid;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin: 0px 5px;
}
#helpUse{
  margin-top: 15px;
  text-decoration: underline;
  padding: 10px 10px;
  border-radius: 10px;
}

.developer{
  margin-top: 15px;
  font-size: 24px;
}
img{
  width: 80%;
}
.menuNote{
  position: fixed;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 11;
  font-size: 28px;
  text-align: center;
  margin: 20px 20px;
  width: calc(100% - 40px);
  background-color: white;
}
.menuNoteBlock{
  width: 100%;
  margin: 40px 40px;
}
#del{
  width: calc(100% - 40px);
  margin: 10px 10px;
  /* border: 2px solid; */
  border-radius: 50px;
}
#pin{
  width: calc(100% - 40px);
  margin: 10px 10px;
  /* border: 2px solid; */
  border-radius: 50px;
}
.colorPicker{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.round{
  margin: 10px 10px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
#lines{
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px 10px;
}
#grid{
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px 10px;
}
