<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/help.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title></title>
  </head>
  <body>
    <div class="mainBlock">
      <div class="header">
        <h1>Как пользоваться</h1>
      </div>
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/add1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h5>Добавть нувую запись</h5>
              <p>Нажать на соответсвующую кнопку в углу экрана</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/images/add2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h5>Редактировать нувую запись</h5>
              <p>Заполните запись и подтвердите добавления нажав на "Сохранить"</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/images/edit1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h5>Настройка заметки</h5>
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/images/edit2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h5>Настройка заметки</h5>
              <p>Удалить, закрепить, установить цвет заметки</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/images/searh.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h5>Поиск заметки</h5>
              <p>Поиск по совпадению сочетания букв в заголовках и тексте</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/images/sort.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h5>сортировка по дате</h5>
              <p>Сортировка заметок по дате, от новых к старым и наоборот</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/images/settings.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h5>Дополнительное меню с настройками</h5>
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/images/settings2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h5 style="blacBG">Настройки</h5>
              <p style="blacBG">Сдесь можно выбрать цветовую схему приложения, вод отображения заметок, а так-же информацию об авторе</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="header">
        <a href="/notes/"><h1>Завершить</h1></a>
      </div>
    </div>

  </body>
</html>
